
*{
    box-sizing: border-box;
}
body{
    margin : 0;
    background: linear-gradient(
        to right,
        #29684A 0%,
        #29684A 60%,
        #FFEFD2 60%,
        #FFEFD2 100%
    );
    
    font-family: 'Kanit', sans-serif;
    color: white;
}

/* navbar */
.Navbar{
    margin-top:1%;
    font-size: 13pt;
    white-space: nowrap;
    background: linear-gradient(
        to right,
        #29684A 0%,
        #29684A 60%,
        #FFEFD2 60%,
        #FFEFD2 100%
    );
}
.Navbar a{
    color: white;
    text-decoration: none;

}
.left-Nav{
    display: inline;
    margin-left: 3%;
    
}
.mid-Nav{
    display: inline;
    margin-left: 5%;
}
.right-Nav{
    display: inline;
    margin-right: 3%;
    color: black;
}
.inNav{
    margin-left: 2.5%;
    margin-right: 2.5%;
    
}
.imginright{
    display: inline;
    float: right;
    margin-right: 3%;
    color: black;
}
.container{
    width: 100%;
    height: 400px;
}
/* top-container */
.top-container{
    float: left;
}
/* Top-left-container */

.left{
    margin-top: 10%;
    padding-left: 10%;
    width: 50%;
}
.left a{
    color: white;
    text-decoration: none;
}
.left .title-eng{
    color: #FFE652;
    font-size: 15pt;
    margin-bottom: 0%;
    padding-bottom: 0%;
}
.left .title{
    font-size: 60pt;
    margin-top: 0%;
    margin-bottom: 0%;
}
.left .description{
    margin-top: 0%;
}
.left .btn{
    margin-left: 10%;
    margin-top: 2%;
}

/* Top-right-container */
.right{
    width: 50%;
    margin-top: 8%;
}

.box_of_product{
    margin-top: 10%;
    margin-left: 0%;
    height: 200px;
    
}

.box_of_product a{
    font-size: 30pt;
    padding-left: 8%;
    margin-bottom: 0%;
    padding-bottom: 5%;
}
.box_of_product .hr{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0%;
    border: 3px solid white ;
    opacity: 100%;
    height: 3px;
}
.box_of_product .row{
    margin-top: 2%;
    
}
.box_of_product .column{
    float: left;
    width: 16.66%;
    padding: 0%;
    margin: 0%;
  }
.box_of_product .img{
    display: block;
}
.box_of_product .column img:hover {
    transform: scale(1.1);
}

